<app-navbar />

  <button mat-raised-button (click)="getPokemons()" style="margin: 2rem 0 0 2rem">Atualizar</button>
  <div style="display: flex; flex-wrap: wrap; align-items: center; padding: 2rem;">
    <ng-container *ngIf="pokemonsData.length === 0; else pokemonGrid">
    </ng-container>
    <ng-template #pokemonGrid>
        <div style="width: 30%; padding: 5px; margin: 5px; background-color: lightblue;" *ngFor="let pokemon of pokemonsData">
          <app-pokemon-card [pokemon]="pokemon" />
        </div>
    </ng-template>  
  </div>
