<app-navbar (refresh)="getPokemons()"></app-navbar>

  <div class="grid-container" style="background-color: light  gray; padding: 10px;">
    <ng-container *ngIf="pokemonsData.length === 0; else pokemonGrid">
    </ng-container>
    <ng-template #pokemonGrid>
      <div class="grid-item" style="background-color: lightblue; padding: 5px;" *ngFor="let pokemon of pokemonsData; let i = index">
        <app-pokemon-card [pokemon]="pokemon" (refresh)="getPokemons()"></app-pokemon-card>
      </div>
    </ng-template>
  </div>
